# Capstone Project

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [20]:
# specify URL address:
url_html='https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050'

# read the URL address into a variable as a list:
df = pd.read_html(url_html)

# convert the list to a dataframe:
df_postcodes=df[0]

print("imported dataframe has",df_postcodes['Postcode'].count(), "postcodes entries")

df_postcodes.head(10)

imported dataframe has 287 postcodes entries

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A         Etobicoke  Islington Avenue

In [24]:
# define a new dataframe where 'Borough' = 'Not assigned' are not included
df_new = df_postcodes[df_postcodes.Borough != 'Not assigned']
    
# reset the index:
df_new.reset_index(drop=True, inplace=True)

df_new.head(20)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M6A        North York  Lawrence Heights
4       M6A        North York    Lawrence Manor
5       M7A  Downtown Toronto      Queen's Park
6       M9A         Etobicoke  Islington Avenue
7       M1B       Scarborough             Rouge
8       M1B       Scarborough           Malvern
9       M3B        North York   Don Mills North
10      M4B         East York  Woodbine Gardens
11      M4B         East York     Parkview Hill
12      M5B  Downtown Toronto           Ryerson
13      M5B  Downtown Toronto   Garden District
14      M6B        North York         Glencairn
15      M9B         Etobicoke        Cloverdale
16      M9B         Etobicoke         Islington
17      M9B         Etobicoke      Martin Grove
18      M9B         Etobicoke  Princess Gardens
19      M9B         Etobicoke   West Deane Park

In [33]:
# group by Postcode
grouped = df_new.groupby(['Postcode']) 

# combine the Neighbourhood grouped by postcode and into a new df
Neighbourhood_grouped = grouped['Neighbourhood'].apply(lambda x: x.sum()) 

# adds spaces and commas between Neighbourhood
Neighbourhood_grouped = grouped['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))

# matches a borough to each postcode
borough_grouped = grouped['Borough'].apply(lambda x: set(x).pop())

# turn borough_grouped and Neighbourhood into dataframes
borough = borough_grouped.to_frame()
Neighbourhood = Neighbourhood_grouped.to_frame()

#combine the dataframe borough and the dataframe Neighbourhood into one dataframe
grouped_final = borough.merge(Neighbourhood, on="Postcode")

grouped_final

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Rouge, Malvern
M1C       Scarborough             Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                  Guildwood, Morningside, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
M9V         Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [35]:
print('The numer of rows and columns in this dataframe is:')
grouped_final.shape

The numer of rows and columns in this dataframe is:

(103, 2)